nav,
section,
footer {
    padding: 0 5rem;
}

.container {
    border: 2px dashed red;
    max-width: 1920px;
}

/* NAVBAR SECTION */

nav .container {
    display: grid;
    grid-template-columns: calc(56.06px + 4rem) 1fr calc(155px + 1rem);
    justify-items: flex-start;
    align-items: center;
}

nav .navbar {
    display: flex;
    flex-direction: row;
    justify-self: start;
    /* margin-left: 4rem; */
    gap: 2rem;
}

nav a,
nav a:visited {
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

nav .burger-menu {
    display: none;
}

nav .login-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login-buttons span {
    font-size: 0.875rem;
}

.login-buttons .blue {
    font-size: 0.875rem;
    padding: 0.625rem 1.25rem;
}