body {
    background-color: var(--main-background);
    color: var(--white);
}

.container {
    margin: 0 1rem;
    border: 2px solid red;
}

h2 {
    font-size: 1.875rem;
    /* 30px */
}

/* NAVBAR SECTION */

nav .container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .logo {
    font-size: 1.666rem;
}

nav .navbar {
    display: none;
}

nav .login-buttons {
    display: none;
}

nav .burger-menu {
    font-size: 1.666rem;
}

/* HERO SECTION */

.hero .container {
    margin-top: 2rem;
}

.hero .title-and-description {
    display: flex;
    flex-direction: column;
}

.hero .description {
    margin-top: 1.25rem;
    color: var(--grey-text);
    font-size: 1rem;
    line-height: 1.5rem;
}