body {
    background-color: var(--main-background);
    color: var(--white);
}

.container {
    margin: 0 1rem;
    border: 2px dashed red;
}

h2 {
    font-size: 1.875rem;
    font-weight: 800;
    /* 30px */
}

button {
    border-radius: 8px;
    padding: 0.75rem 0;
}

button.blue {
    background-color: var(--blue);
    color: var(--white);
}

button.dark-grey {
    background-color: var(--grey-background);
    color: var(--grey-text);
    border: 1px solid var(--grey-border);
}

/* NAVBAR SECTION */

nav .container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .logo {
    font-size: 1.666rem;
}

nav .navbar {
    display: none;
}

nav .login-buttons {
    display: none;
}

nav .burger-menu {
    font-size: 1.666rem;
}

/* HERO SECTION */

.hero .container {
    margin-top: 2rem;
}

.hero .title-and-description {
    display: flex;
    flex-direction: column;
}

.hero .description {
    margin-top: 1.25rem;
    color: var(--grey-text);
    font-size: 1rem;
    line-height: 1.5rem;
}

.hero .buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fa-video {
    margin-right: 0.5rem;
}

.hero h6 {
    display: none;
}

.hero .logos {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
}

.hero .carousel {
    background-color: green;
    height: 176px;
    border-radius: 0.5rem;
}